<nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="dark"> 
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Detalle de registro de Transacciones</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/"><i class="fa-solid fa-list-check"></i> Lista</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/nuevo"><i class="fa-solid fa-square-plus"></i> Nuevo Registro</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>
